body {
    background-color: rgb(189, 204, 212);    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.schoolbell-regular {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

#main_container {
    border: solid 10px white;
    width: 1024px;
    height: 3000px;
    margin: 0 auto;
}

#top_box {
    width: 1024px;
    height: 475px;
    border-bottom: solid 10px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: */
    /* border-left: solid 1px black;
    border-right: solid 1px black; */
    
}

#Name {
    font-family: Schoolbell;
    font-size: 35pt;
    color: white;
}

#mid_box {
    width: 1024px;
    height: 305px;
    border-bottom: solid 10px white;
}

#info_text {
    font-family: Schoolbell;
    font-size: 39pt;
    color: white;
}
.centered-box {
    text-align: center;
    /* Optional: give the box a width to see the centering effect */
    width: 300px;
  }